* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: Open sans, Segoe UI, sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #3a3a3a;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #8c0d0d;
    font-weight: 600;
}

a.link {
    padding: 0 4px;
    text-decoration: none;
    color: #590000;
    box-shadow: 0 -2px 0 0 #590000 inset;
    transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out;
}

a.link:hover,
a.link:active {
    color: white;
    box-shadow: 0 -1.2em 0 0 #590000 inset;
}

.pimg1,
.pimg2,
.pimg3,
.pimg4,
.pimg5,
.pimg6,
.pimg7 {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    /*
      fixed = parallax
      scroll = normal
    */
    background-attachment: fixed;
}

.pimg1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../img/image1.jpg");
    height: 100%;
}

.pimg2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../img/image2.JPG");
    min-height: 400px;
}

.pimg3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../img/image3.JPG");
    min-height: 400px;
}

.pimg4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../img/image4.jpg");
    min-height: 400px;
}

.pimg5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../img/image5.jpg");
    min-height: 400px;
}

.pimg6 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../img/image6.jpg");
    min-height: 400px;
}

.pimg7 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url("../img/image7.jpg");
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 60px 0;
}

.section-light {
    background-color: #f4f4f4;
    color: #3a3a3a;
}

.section-dark {
    background-color: #282e34;
    color: #ddd;
}

.responsive-container {
    padding: 0 32px;
}

.ptext {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 0.1em;
    line-height: 1.5;
    text-transform: uppercase;
    font-weight: 600;
}

.ptext .border {
    background-color: transparent;
    color: #2a2a2a;
}

.ptext .border.trans {
    color: #fff;
    background-color: transparent;
}

a.last {
    font-size: 27px;
    border: 3px solid #fff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background-color 0.25s ease, color 0.25s ease;
}

a.last:hover,
a.last:active {
    background-color: #590000;
    border: 1px solid #590000;
    color: white;
    opacity: 0.8;
}

table {
    border-collapse: collapse;
}

table,
td,
th {
    border: 1px solid #cecece;
    padding: 8px;
    text-align: left;
}

th {
    border: 1px solid #590000;
    background: #590000;
    color: white;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}

div.sponsors-gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

a.gallery {
    flex: 0 1 auto;
    margin: 24px 16px 24px 16px;
    background: #f4f4f4;
    box-shadow: 0 9px 46px 8px rgba(0, 0, 0, 0.12);
    text-decoration: none;
    filter: grayscale(40%);
    transition: filter 0.25s ease;
    max-width: 300px;
}

a.gallery:hover,
a.gallery:active {
    filter: grayscale(0%);
}

a.gallery img {
    width: 100%;
    height: 100%;
    background: white;
}

a.gallery img.padded {
    padding: 25px 0;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 17px;
    font-weight: 600;
    transition: 0.4s;
}

.active,
.accordion:hover {
    background-color: #ccc;
}
.accordion:after {
    content: "\002B";
    color: #777;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

div.panel {
    padding: 0 18px;
    display: none;
    background-color: rgb(247, 247, 247);
    overflow: hidden;
}

div.desc {
    padding: 8px;
    text-align: center;
    color: #aaa;
    letter-spacing: 0.1em;
    font-weight: 600;
    text-transform: uppercase;
}

.mySlides {
    display: none;
}

.scheduleSlides {
    display: none;
}

.nav {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 10;
    background-color: #fff;
    color: #3a3a3a;
    padding: 0.5em 1em;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    box-shadow: 0 4px 16px 2px rgba(0, 0, 0, 0.12);
}

.nav a {
    text-transform: uppercase;
    text-decoration: none;
    font-size: 12px;
    display: inline-block;
    color: #3a3a3a;
    padding: 8px;
    box-shadow: none;
}

.nav a:hover,
.nav a:active {
    box-shadow: 0 -3px 0 0 #590000 inset;
    color: #590000;
    text-shadow: -0.01ex 0 currentColor, 0.01ex 0 currentColor;
    transition: box-shadow 0.25s ease-in-out, color 0.25s ease-in-out,
        text-shadow 0.25s ease-in-out;
}

.centered-content {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
}

#about > section .social {
    margin: 0 4px;
}

.responsive-img-480 {
    max-width: 480px;
    width: 100%;
}

.section-heading {
    padding: 0 16px;
    letter-spacing: 0.1em;
    font-family: "Shrikhand", cursive;
    margin-top: 0;
    margin-bottom: 40px;
}

.ba-red,
.ba-hover-red:hover {
    color: #fff !important;
    background-color: #590000 !important;
}

#nav-menu-icon-container {
    display: none;
    position: fixed;
    z-index: 12;
    top: 8px;
    padding: 8px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
}

#nav-menu-icon {
    position: relative;
    width: 28px;
    height: 21px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
}

#nav-menu-icon span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: white;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.25s ease-in-out;
    -moz-transition: 0.25s ease-in-out;
    -o-transition: 0.25s ease-in-out;
    transition: 0.25s ease-in-out;
}

#nav-menu-icon span:nth-child(1) {
    top: 0px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-menu-icon span:nth-child(2) {
    top: 8px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-menu-icon span:nth-child(3) {
    top: 16px;
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

#nav-menu-icon.opened span:nth-child(1) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    top: -3px;
    left: 4px;
}

#nav-menu-icon.opened span:nth-child(2) {
    width: 0%;
    opacity: 0;
}

#nav-menu-icon.opened span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    top: 17px;
    left: 4px;
}

.facebook-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
    margin-bottom: 40px;
}

.facebook-responsive iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

@media only screen and (max-width: 600px) {
    .pimg1,
    .pimg2,
    .pimg3,
    .pimg4,
    .pimg5,
    .pimg6,
    .pimg7 {
        background-attachment: scroll;
    }

    .responsive-container {
        padding: 0 16px;
    }

    .centered-content {
        width: 100%;
    }

    .nav {
        display: none;
    }

    #nav-menu-icon-container {
        display: block;
    }
}
